@page "/benchmark"
@using HaskiBlazor.Data
@using HaskiBlazor.Components

@inject IJSRuntime JS

<svg width="100" height="100" viewBox="0 0 24 24">
  <path d="M21,9H15V22H13V16H11V22H9V9H3V7H21M12,2A2,2 0 0,1 14,4A2,2 0 0,1 12,6C10.89,6 10,5.1 10,4C10,2.89 10.89,2 12,2Z" />
</svg>

@foreach (var item in @Items)
{
    <div class="main-content-div">
        <BenchItemTemplate Item="@item">
            <Template>
                <img src="@item.ImgPath"
                     class="normal-picture">
            </Template>
        </BenchItemTemplate>
    </div>
}

@code {
    public List<BenchItem> Items = new List<BenchItem> {
        new BenchItem
        {
            Title = "Золото",
            ImgPath = "https://i.ibb.co/LnRw9zd/DSC03603red.jpg",
            Description = "⚜️ Золото в искусстве: от античности до современности",
            Status = "Available",
            CreationTime = DateTime.Now,
            EstimatedValue = 5000
        },
        new BenchItem
        {
            Title = "Феникс",
            ImgPath = "public/picture1.PNG",
            Description = "Китай - Новое искусство - Восставший из пепла ❤️‍🔥",
            Status = "Available",
            CreationTime = DateTime.Now,
            EstimatedValue = 4000
        },
        new BenchItem
        {
            Title = "Мрамор",
            ImgPath = "public/picture2.jpg",
            Description = "Та самая мраморная работа, что я разыгрывала для вас," +
                          " в любом интерьере выглядит шикарно и придаст особой" +
                          " атмосферы для вашего дома💕",
            Status = "Available",
            CreationTime = DateTime.Now,
            EstimatedValue = 5300
        },
    };

    protected override void OnAfterRender(bool firstRender)
    {
        //_jsRuntime.InvokeVoidAsync("attachHandlers");
    }
}